.my-footer {
    height: 5em;
    background-color: black;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    font-size: 10px;
}

.room-image {
    max-width: 70%;
}

.notie-container {
    box-shadow: none;
}

.redText {
    color: red;
}

.datepicker {
    z-index: 10000;
}