{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/image/generals-quarters.jpg" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room-image">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General Quarters</h1>
                <p>
                    Your home away from home.Your home away from home.Your home away from home.
                    Your home away from home.Your home away from home.Your home away from home.
                    Your home away from home.Your home away from home.Your home away from home.
                    Your home away from home.Your home away from home.Your home away from home.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/make-reservation-gp" class="btn btn-success">Check Availability</a>
        </div>
    </div>
    
{{end}}